@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}
/* shared style */
.d-block{
    display: block;
}

.text-orange{
    color:orange;
}
.text-sky-blue{
    color:#01ACFD;
}
.text-light-sky-blue{
    color: skyblue;
}
.text-dark-sky{
    color:#5D58EF;
}
.btn-orange{
    background-color: orange;
    color:#fff;
    
}
.contact-btn{
    padding:10px 30px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}
.contact-btn:hover{
    background-color: #05D4DF;
    color: #000;
}
.btn-black{
    background-color: black;
    color:#fff;
    padding: 10px 30px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.25rem;
}
.btn-black:hover{
    background-color: #01ACFD;
    color:black;
}

/* header style */

.nav-icon{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 7% 0 7%;
}
.nav-brand{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    
}
.nav-brand img{
    max-width: 50px;
    margin-right: 10px;
}

.navbar ul{
    display: flex;
    
}
.navbar ul li{
    list-style: none;
    z-index: 3;
}
.navbar ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    
}

.nav-link:hover{
    background-color: rgba(172, 255, 47, 0.312);
    
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 7%;
}
.banner .banner-content{
    
    width: 50%;
    

}
.banner img{
    width: 400px;
    transform: translateY(-10% );   
    z-index: 1;
    
}

.banner-content h1{
    line-height: 50px;
    font-weight: bold;
    font-size: 3rem;
   
}
.banner-content p{
    margin: 20px 0;
}


@media screen and (max-width:576px) {
    .navbar{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .brand-title{
        display: none;
    }
    
     .nav-icon {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        border: none;
    }

    .banner{
        flex-direction: column-reverse;
        
        
    }
    .banner img{
        
        transform: translateY(0 );
        
    }
 .banner .banner-content{
        width: 100%;
        text-align: center;
        margin:20px 0;
    }
    

}