@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}
/* shared style */
.d-block{
    display: block;
}

.text-orange{
    color:orange;
}
.text-sky-blue{
    color:#01ACFD;  
}
.text-light-sky-blue{
    color: skyblue;
}
.text-dark-sky{
    color:#5D58EF;
}
.btn-orange{
    background-color: orange;
    color:#fff;
    
}
.contact-btn{
    padding:10px 30px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    
}
.contact-btn:hover{
    background-color: #05D4DF;
    color: #000;
}
.btn-black{
    background-color: black;
    color:#fff;
    padding: 10px 30px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.25rem;
}
.btn-black:hover{
    background-color: #01ACFD;
    color:black;
}

/* header style */

.nav-icon{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
}
.nav-brand{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    
}
.nav-brand img{
    max-width: 50px;
    margin-right: 10px;
}

.navbar ul{
    display: flex;
    
}
.navbar ul li{
    list-style: none;
   
}
.navbar ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    
}

.nav-link:hover{
    background-color: rgba(172, 255, 47, 0.312);
    
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 7%;
    
}
.banner .banner-content{
    max-width: 50%;
}

.banner img{
    max-width: 400px;
     
}
.banner-content h1{
    line-height: 50px;
    font-weight: bold;
    font-size: 3rem;
   
}
.banner-content p{
    margin: 20px 0;
}

/* standar curiculum related style */

.standard-curriculum{
    text-align: center;
    margin:0px 7%;
    background-image: url("/assets/bg.png");
   background-size:cover;
   background-repeat: no-repeat;
   
   
}
.standard-curriculum h5{
    font-size: 2rem;
    font-weight: 400;
    color:#f875cc;
    
}
.standard-curriculum h5:last-child{
    color:aqua;
}
.standard-curriculum h1{
    font-size: 2rem;
    font-weight: bold;
}


.standard-curriculum .card-container{
    display: flex;
    width: 90%;
    margin: 20px auto;
    gap: 20px;
}

.card{
    max-width: 350px;
    padding: 60px 20px;
    box-shadow: 2px 2px 6px  rgba(141, 140, 140, 0.405);
    
}
.card img{
    max-width: 100px;  
    
}
.card h2{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 15px 0;
}
.card p{
    font-size: 0.8rem;
    font-weight: 500;
    margin: 15px 0;

}
.card a{
    font-size: 1rem;
    text-decoration: none;    
}

.card-1{
    background-image: linear-gradient(#DEF5FF, #fff);
}
.card-2{
    background-image: linear-gradient( #FFF4DC, #fff);
    
}
.card-2 img{
    margin-bottom: 10px;
}

.card-3{
    background-image: linear-gradient( #EEE1FF, #fff);

}
.arrow{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}
.circle {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;

}

.circle i {
    font-size: 20px; 
    color: #ffffff; 
     
}

@media screen and (max-width:576px) {
    .navbar{
        display: none;
    }
    header{
        border: 1px solid orange;
             
    }
    .contact-btn{
        display: none;
    }
    .brand-title{
        display: none;
    }
    
     .nav-icon {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        border: none;
    }

    .banner{
        flex-direction: column-reverse;
        
        
    }
   
    .banner img{
        max-width: 100%;
    }
 .banner .banner-content{
        max-width: 100%;
        text-align: center;
        margin:20px 0;
    }
  
    .card-container{
        flex-direction: column;
    }

}